<!DOCTYPE html>
<html>
  <head>
    <title>App Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='main.css') }}">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class='row'>
        <div class='col-sm-offset-1'>
          <h1>数学分野別重要用語</h1>
        </div>
      <div class='row'>
      <br>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
          <div id='category-dropdown'>
            <div class='dropdown form-group'>
              <select type='text' class='form-control' style='max-width: 150px;'
                v-model='selected' autofocus required>
                <option disabled selected value=''>Select category</option>
                {% for c in math_categories %}
                <option>{{ c }}</option>
                {% endfor %}
              </select>
            </div>
            <button type='submit' class='btn btn-default' v-on:click='submit'>Submit</button>
          </div>
        </div>

        <div class="col-sm-5">
          <div id='keywords-result'>
            <table class='table table-striped' v-if='show'>
              <thead>
                <tr>
                  <th>Keywords</th>
                </tr>
              </thead>
              <tbody>
                {% raw %}
                <tr v-for='k in keywords'>
                  <td>{{ k }}</td>
                </tr>
                {% endraw %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
